*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f9fa !important;
}

#desktop{
    z-index: 9999;

}
.Text{
    position: sticky;
    padding-top: 70px;

}
.btn_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none !important;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    padding: 30px;
    transition: all .5s ease-in-out;
}
.btn_top:hover{
    background-color: #27ae60;
}
.btn_top:hover .icon{
     border-bottom: 18px solid white;
 }
.btn_top .icon {
    position: absolute;
    left: 17px;
    top: 20px;
    border-bottom: 16px solid rgb(111, 107, 113);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    transition: all .5s ease-in-out;
}
.btn_top .iconTwo {
    position: absolute;
    left: 17px;
    z-index: 12;
    bottom: 18px;
    border-bottom: 16px solid #2ecc71;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    transition: all .5s ease-in-out;

}
.btn_top:hover .iconTwo{
    border-bottom: 18px solid #27ae60;
}
.nav li a:hover {
    color: #fff;
    text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}