<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Taklif va Shikoyatlar</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>
<body>
<div class="divP">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div class="row">
            <div class="col-6 offset-3 ">
                <h3 >Taklif va Shikoyatlar</h3>
                <form th:action="@{/index/suggestion/save}" method="post" class="form-group">
                    <label for="complaintSuggestionText" class="w-100">
                        <textarea type="text" name="complaintSuggestionText"
                                  id="complaintSuggestionText" class="form-control " placeholder="Matni ..."></textarea>
                    </label>
                    <div class="d-flex flex-wrap justify-content-between w-100">
                        <button type="submit" class="btn btn-outline-secondary w-25" style="height: 40px;">Saqlash</button>
                        <a th:href="@{/index}" class="btn btn-outline-danger w-25">Orqaga</a>
                    </div>


                </form>
            </div>

        </div>

    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jq.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
</body>
</html>