<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Xodim Qo'shish</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>
<body>
<div class="divP">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:text="${fullName}" class="nav-link p-3 text-white"></a></li>
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
                <li class=""><a th:href="@{/logout}" class="nav-link p-3 text-white">Chiqish</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div class="row">
            <div class="col-6 offset-3 ">
                <h3 >Xodim Qo'shish</h3>
                <form th:action="@{/employee/save}" method="post" class="form-group">
                    <label for="firstName" class="w-100">Ismi
                        <input type="text" name="name" id="firstName" class="form-control" required placeholder="Ismi">
                    </label>
                    <label for="lastName" class="w-100">Familiyasi
                        <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Familiyasi" required>
                    </label>
                    <label for="age" class="w-100">Yoshi
                        <input type="text" name="age" id="age" class="form-control" placeholder="Yoshi" required>
                    </label>
                    <label for="phoneNumber" class="w-100">Tel Raqami
                        <input type="number" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="+998*********" required>
                    </label>
                    <label for="position" class="w-100">Lavozimi
                        <input type="text" name="position" id="position" class="form-control" placeholder="Lavozimi" required>
                    </label>
                    <label for="salary" class="w-100">Maoshi
                        <input type="number" name="salary" id="salary" class="form-control" placeholder="Maoshi" required>
                    </label>
                    <label for="email" class="w-100">Email
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                    </label>
                    <div class="d-flex flex-wrap justify-content-between w-100">
                        <button type="submit" class="btn btn-outline-secondary w-25" style="height: 40px;">Saqlash</button>
                        <a th:href="@{/employee}" class="btn btn-outline-danger w-25">Orqaga</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>

    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/jq.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
</body>
</html>