<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Dori Qo'shish</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

</head>

<body>
<div class="divP">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div class="row">
            <div class="col-6 offset-3 ">
                <h3 >Dori Qo'shish</h3>
                <form class="form-group">
                    <label for="medicineName" class="w-100">Dori Nomi
                        <input type="text" placeholder="Dori Nomi" id="medicineName" class="form-control ">
                    </label>
                    <label for="medicineNumeral" class="w-100">Soni
                        <input type="number" id="medicineNumeral" placeholder="Soni" class="form-control">
                    </label>
                    <label for="medicineTypes" class="w-100">Turi
                        <input type="text" id="medicineTypes" placeholder="Turi" class="form-control">
                    </label>
                    <label for="medicinePrice" class="w-100">Narxi
                        <input type="number" id="medicinePrice" placeholder="Narxi" class="form-control">
                    </label>
                    <div class="input-group date w-100" data-provide="datepicker">
                        <span class="w-100">Muddati</span>
                        <div class="input-group-addon w-100">
                            <span class="glyphicon glyphicon-th w-100">
                            <input type="date" class="form-control" id="medicineDate">
                            </span>
                        </div>
                    </div>
                    <div class="w-100 d-flex flex-wrap justify-content-between my-2">
                        <button type="submit" class="btn btn-outline-secondary w-25" id="saveMedicine" style="height: 40px;">Saqlash</button>
                        <a th:href="@{/medicine}" class="btn btn-outline-danger w-25">Orqaga</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>


<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/jq.js}"></script>
</body>
</html>