<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <title>Employees </title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/assets/img.jpg}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div class="divP ">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:text="${fullName}" class="nav-link p-3 text-white"></a></li>
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
                <li class=""><a th:href="@{/logout}" class="nav-link p-3 text-white">Chiqish</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div>
            <a th:href="@{/employee}" class="mx-3">Xodimlar</a>
        </div>
        <div>
            <a th:href="@{/suggestion}" class="mx-3">Taklif va shikoyatlar</a>
        </div>
        <div>
            <a th:href="@{/medicine}" class="mx-3">Dorilar</a>
        </div>
    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>
<script>

</script>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jq.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
</body>
</html>