<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kantakt</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>
<body>

<div class="divP">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Home</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Contact</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div class="row">
            <div class="col-6 offset-3" >
                <h3>Kantaktingizni ma'lumotlarini kiriting.</h3>
                <form th:action="@{/contact} " class="form-group">
                    <input type="text" name="" class="form-control my-2" placeholder="Ismingiz" required>
                    <input type="email" name="" class="form-control my-2" placeholder="Emailingiz" required>
                    <input type="text" name="" class="form-control my-2" placeholder="Mavzu:" required>
                    <textarea type="text" name="" class="form-control my-2" placeholder="Matni" required
                              cols="30" rows="5" ></textarea>
                    <button type="submit" class="btn btn-secondary my-2">Yuborish</button>
                </form>
            </div>
        </div>
    </div>

    <div class="w-100 bg-dark text-white-50 d-flex flex-wrap py-5">
        <div class="col-3 offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto asperiores aut
                dicta doloribus eius eos fuga, illo magni modi perferendis porro reprehenderit rerum ut voluptatum?
                Assumenda provident quia soluta!</p>
        </div>
        <div class="col-3 ">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto asperiores aut
                dicta doloribus eius eos fuga, illo magni modi perferendis porro reprehenderit rerum ut voluptatum?
                Assumenda provident quia soluta!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestias obcaecati odio porro velit.
                Accusamus adipisci nam recusandae rem suscipit veniam? Aliquid animi aspernatur harum id
                nemo reprehenderit tenetur veniam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestias obcaecati odio porro velit.
                Accusamus adipisci nam recusandae rem suscipit veniam? Aliquid animi aspernatur harum id
                nemo reprehenderit tenetur veniam!</p>
        </div>
        <div class="col-3 ">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto asperiores aut
                dicta doloribus eius eos fuga, illo magni modi perferendis porro reprehenderit rerum ut voluptatum?
                Assumenda provident quia soluta!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum molestias obcaecati odio porro velit.
                Accusamus adipisci nam recusandae rem suscipit veniam? Aliquid animi aspernatur harum id
                nemo reprehenderit tenetur veniam!</p>
        </div>

    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>
<script th:src="@{assets/js/jq.js}"></script>
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/js/bootstrap.bundle.min.js}"></script>
</body>
</html>