<!DOCTYPE html>
<html lang="uz" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <title>Xodimlar</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/assets/img.jpg}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div class="divP ">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:text="${fullName}" class="nav-link p-3 text-white"></a></li>
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
                <li class=""><a th:href="@{/logout}" class="nav-link p-3 text-white">Chiqish</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-10 offset-2 Text" style="width: 1300px;">
        <div class="row">
            <div class="col-md-12 "th:switch="${employees}" >
                <h4>Xodimlar ro'yxati</h4>
                <form th:action="@{/employee}" method="get" class="form-group">
                    <div class="input-group-text w-50 p-0">
                        <input th:type="text" id="searchEmployee" placeholder="Enter word" class="input-group-text w-100 d-inline border-0 text-left" style="outline: none;">
                        <button type="submit" class="btn"><img th:src="@{/assets/img/icons/search.png}" alt="search" title="search" style="width: 25px;"></button>
                    </div>
                </form>
                <div th:case="*">
                    <table class="table table-bordered badge-light table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Ismi</th>
                            <th>Familiyasi</th>
                            <th>Yoshi</th>
                            <th>Tel raqam</th>
                            <th>Lavozimi</th>
                            <th>Maoshi</th>
                            <th>Email</th>
                            <th>Amallari</th>
                        </tr>
                        </thead>
                        <tbody id="valueEmployees">
                        <tr th:each="employee : ${employees}">
                            <td th:text="${employee.id}"></td>
                            <td th:text="${employee.name}"></td>
                            <td th:text="${employee.lastName}"></td>
                            <td th:text="${employee.age}"></td>
                            <td th:text="${employee.phoneNumber}"></td>
                            <td th:text="${employee.position}"></td>
                            <td th:text="${employee.salary}"></td>
                            <td th:text="${employee.email}"></td>
                            <td class="d-flex flex-wrap justify-content-between">
                                <a th:href="@{/employee/delete/{id}(id=${employee.id})}"class="btn btn-danger my-1 px-3">O'chirish</a>
                                <a th:href="@{/employee/edit/{id}(id=${employee.id})}"class="btn btn-danger my-1 px-4">Tahrirlash</a>
                            </td>

                        </tr>
                        </tbody>

                    </table>
                </div>
                <a href="/employee/add" class="btn btn-info my-4">Xodim qo'shish</a>
                <a th:href="@{/cabinet}">Admin</a>
            </div>
        </div>

    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>
<script>

</script>
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/jq.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
</body>
</html>