<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <title>Dorixona sayti</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/assets/img.jpg}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div class="divP ">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
            </ul>
        </nav>
    </div>
    <div class="Text col-md-10 offset-2" style="width: 1300px;">
        <div class="row">
            <div class="col-md-12 " th:switch="${medicines}" >
                <h4>Dorini qidrish</h4>
                <form th:action="@{/index}" method="get" class="form-group">
                    <div class="input-group-text w-50 p-0">
                        <input th:type="text" id="searchMedicine" placeholder="Enter word" class="input-group-text w-100 d-inline border-0 text-left" style="outline: none;">
                        <button type="submit" class="btn"><img th:src="@{/assets/img/icons/search.png}" alt="search" title="search" style="width: 25px;"></button>
                    </div>
                </form>
                <div th:case="*">
                    <h4>Dorilar ro'yxari</h4>
                    <table class="table table-bordered badge-light table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Dori nomi</th>
                            <th>Soni</th>
                            <th>Turi</th>
                            <th>Narxi</th>
                            <th>Muddati</th>
                        </tr>
                        </thead>
                        <tbody id="valueMedicines">
                        <tr th:each="medicine : ${medicines}">
                            <td th:text="${medicine.medicineId}"></td>
                            <td th:text="${medicine.medicineName}"></td>
                            <td th:text="${medicine.numeral}"></td>
                            <td th:text="${medicine.types}"></td>
                            <td th:text="${medicine.price}"></td>
                            <td th:text="${medicine.date}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div>
            <a href="/index/suggestion/add" class="btn btn-info my-4">Taklif va shikoyat bildirish</a>
            <a th:href="@{/login}" class="mx-3">Admin</a>

        </div>
    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/index.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>


</body>
</html>