<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/assets/img.jpg}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div class="divP ">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div class="row mt-5">
            <div class="col-md-6 offset-3 " >
                    <form th:action="@{/login}" method="POST">
                        <div class="card-header" style="background-color:#bbcada !important;">
                            <h4>Kirish</h4>
                        </div>
                            <div class="card-body bg-white">

                                <label for="username" class="w-100">Email
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                        <input type="email" id="username"  name="email" required placeholder="Email"
                                               class="form-control">
                                    </div>
                                </label>
                                <label for="password" class="w-100">Parol
                                    <input type="password" id="password" name="password" required placeholder="Parol"
                                           class="form-control">
                                </label>
                                <div class="w-100 d-flex justify-content-between">
                                    <div class="checkbox mb-3">
                                        <label class="text-black-50">
                                            <input type="checkbox" name="remember-me"> Men eslab qol
                                        </label>
                                    </div>
                                    <a th:href="@{/api/auth/registration}" class="text-right text-black-50" style="text-decoration: none;">Ro'yxatdan o'tish</a>
                                </div>
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between" style="background-color:#bbcada !important;">
                                <button type="submit" class="btn btn-secondary">Kirish</button>
                                <a th:href="@{/index}" class="btn btn-danger">Orqaga</a>
                            </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jq.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>


</body>
</html>