<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>
<body>
<div class="divP">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-6 offset-3 mt-5">
                <div class="card-header" style="background-color:#bbcada !important;">
                    <h4>Ro'yxatdan o'tish</h4>
                </div>
                <form th:action="@{/api/auth/register}" method="post" th:object="${user}" enctype="multipart/form-data">
                    <div class="card-body bg-white">
                        <div class="mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                                <input type="email" class="form-control" th:field="*{email}" id="username" name="email" placeholder="Email" required>
                            </div>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Email xato!</span>
                        </div>
                        <div class="invalid-feedback" style="width: 100%;" id="username-feedback">
                            Email ro'yxatda o'tgan!
                        </div>
                        <div class="mt-2">
                            <input type="text" class="form-control" id="first_name" name="firstName" placeholder="Ismi" th:field="*{firstName}" required>
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Ism xato!</span>
                        </div>
                        <div class="mt-2">
                            <input type="text" class="form-control" id="last_name" name="lastName" th:field="*{lastName}" placeholder="Familiyasi" required>
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Familiya xato!</span>
                        </div>
                        <div class="mt-2">
                            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" name="phoneNumber" placeholder="+998*********" required>
                            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger">Telefon raqam xato!</span>
                        </div>
                        <div class="invalid-feedback" style="width: 100%;" id="phoneNumber-feedback">
                            Telefon raqam  ro'yxatdan o'tgan!
                        </div>
                        <div class="mt-2">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Parol" th:field = "*{password}" required>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Parol xato!</span>
                            <span class="font-weight-light text-danger form-control-sm" id="password-info">Siz parolda  a-z, A-Z, va 0-9 lardan foydalanishingiz  kerak!</span>
                        </div>
                        <div class="mt-2">
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Parolni takrorlang" required>
                        </div>
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-between" style="background-color:#bbcada !important;">
                        <button class="btn btn-secondary" id="formBtn" type="button" onclick="onClickRegister();">Kirish</button>
                        <a th:href="@{/login}" class="btn btn-danger">Orqaga</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/jq.js}"></script>
<script th:src="@{/assets/js/register.js}"></script>
</body>
</html>