<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <title>Shikoyarlar va Takliflar</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/assets/img.jpg}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<div class="divP ">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:text="${fullName}" class="nav-link p-3 text-white"></a></li>
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
                <li class=""><a th:href="@{/logout}" class="nav-link p-3 text-white">Chiqish</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div class="row">
            <div class="col-md-12 " th:switch="${suggestions}" >
                <h4>Shikoyat va takliflarni qidirish</h4>
                <form th:action="@{/suggestion}" method="get" class="form-group">
                    <div class="input-group-text w-50 p-0">
                        <input th:type="text" id="searchSuggestion" placeholder="Enter word" class="input-group-text w-100 d-inline border-0 text-left" style="outline: none;">
                        <button type="submit" class="btn"><img th:src="@{/assets/img/icons/search.png}" alt="search" title="search" style="width: 25px;"></button>
                    </div>
                </form>
                <div th:case="*">
                    <h4>Shikoyat va takliflar ro'yxari</h4>
                    <table class="table table-bordered badge-light table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Matni</th>
                            <th>Amallar</th>
                        </tr>
                        </thead>
                        <tbody id="valueSuggestions">
                        <tr th:each="suggestion : ${suggestions}">
                            <td th:text="${suggestion.complaintSuggestionId}"></td>
                            <td th:text="${suggestion.complaintSuggestionText}"></td>
                            <td class="d-flex justify-content-center">
                                <a th:href="@{/suggestion/delete/{id}(id=${suggestion.complaintSuggestionId})}"class="btn btn-danger">O'chirish</a>
                            </td>

                        </tr>
                        </tbody>

                    </table>

                </div>
                <a th:href="@{/cabinet}">Admin</a>
            </div>

        </div>
    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jq.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>


</body>
</html>