<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Xodim Malumotlarini o'zgartirish</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>
<body>
<div class="divP">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:text="${fullName}" class="nav-link p-3 text-white"></a></li>
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Home</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Contact</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">About</a></li>
                <li class=""><a th:href="@{/logout}" class="nav-link p-3 text-white">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div class="row">
            <div class="col-6 offset-3 ">
                <h3 >Xodim Malumotlarini o'zgartirish</h3>
                <form action="#"
                      th:action="@{/employee/update/{id}(id=${employee.id})}"
                      th:object="${employee}"
                      method="post"
                        class="form-group">
                    <label for="name" class="w-100">Ismi</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="Ismi" class="form-control">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    <label for="lastName" class="w-100">Familayasi</label>
                    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Familayasi" class="form-control ">
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    <label for="age" class="w-100">Yoshi</label>
                    <input type="text" th:field="*{age}" id="age" placeholder="Yoshi" class="form-control ">
                    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
                    <label for="phoneNumber" class="w-100">Tel raqami</label>
                    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="+998*********" class="form-control ">
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                    <label for="position" class="w-100">Lavozimi</label>
                    <input type="text" th:field="*{position}" id="position" placeholder="Lavozimi" class="form-control ">
                    <span th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
                    <label for="salary" class="w-100">Maoshi</label>
                    <input type="number" th:field="*{salary}" id="salary" placeholder="Maoshi" class="form-control ">
                    <span th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
                    <label for="email" class="w-100">Email</label>
                    <input type="email" th:field="*{email}" id="email" placeholder="Email" class="form-control ">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <div class="w-100 d-flex flex-wrap justify-content-between my-2">
                        <input type="submit" value="Saqlash" class="btn btn-outline-secondary w-25 my-2">
                        <a th:href="@{/employee}" class="btn btn-outline-danger w-25 my-2">Orqaga</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jq.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
</body>
</html>



