<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Dori Malumotlarini O'zgartirish</title>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
</head>
<body>
<div class="divP">
    <div id="desktop" class="w-100 position-fixed d-flex justify-content-end pr-5" style="background-color:#1daa81;">
        <nav >
            <ul class="nav">
                <li class=""><a th:href="@{/index}" class="nav-link p-3 text-white">Bosh sahifa</a></li>
                <li class=""><a th:href="@{/contact}" class="nav-link p-3 text-white">Kantakt</a></li>
                <li class=""><a href="#" class="nav-link p-3 text-white">Biz haqimizda</a></li>
            </ul>
        </nav>
    </div>
    <div class="container Text">
        <div class="row">
            <div class="col-6 offset-3 ">
                <h3 >Dori Malumotlarini O'zgartirish</h3>
                <form action="#"
                      th:action="@{/medicine/update/{id}(id=${medicine.medicineId})}"
                      th:object="${medicine}"
                      method="post"
                      class="form-group">
                    <label for="medicineName" class="w-100">Dori Nomi</label>
                    <input type="text" th:field="*{medicineName}" id="medicineName" placeholder="Dori Nomi" class="form-control">
                    <span th:if="${#fields.hasErrors('medicineName')}" th:errors="*{medicineName}"></span>
                    <label for="numeral" class="w-100">Soni</label>
                    <input type="number" th:field="*{numeral}" id="numeral" placeholder="Soni" class="form-control ">
                    <span th:if="${#fields.hasErrors('numeral')}" th:errors="*{numeral}"></span>
                    <label for="types" class="w-100">Turi</label>
                    <input type="text" th:field="*{types}" id="types" placeholder="Turi" class="form-control ">
                    <span th:if="${#fields.hasErrors('types')}" th:errors="*{types}"></span>
                    <label for="price" class="w-100">Narxi</label>
                    <input type="number" th:field="*{price}" id="price" placeholder="Narxi" class="form-control ">
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                    <label for="date" class="w-100">Muddati</label>
                    <div class="input-group date w-100" data-provide="datepicker">
                        <span class="w-100">Muddati</span>
                        <div class="input-group-addon w-100">
                            <span class="glyphicon glyphicon-th w-100">
                            <input type="date" id="date" th:field="*{date}" class="form-control">
                                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
                            </span>
                        </div>
                    </div>
                    <div class="w-100 d-flex flex-wrap justify-content-between my-2">
                        <input type="submit" value="Saqlash" class="btn btn-outline-secondary w-25 my-2">
                        <a th:href="@{/medicine}" class="btn btn-outline-danger w-25 my-2">Orqaga</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<button class="btn_top" title="Go to top"><span class="icon"></span> <span class="iconTwo"></span></button>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jq.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
</body>
</html>